<div class="container-header">
    <%- include ('../partials/header') %> 

</div>
<div class="container">
        <div class="container-split">
            <div class="split-left">
                <form action="/admin" method="POST">
                    <h2>Lisää uusi käyttäjä</h2>
                    
                    <div class="messages">
                        <%- include ('../partials/messages') %> 
                    </div>
                    <div class="form-row">
                        <label for="user">Nimi</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            placeholder="Lisää käyttäjän nimi"
                            value="">
                    </div>
                    <div class="form-row">
                        <label for="email">Sähköposti</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="form-control"
                            placeholder="Lisää sähköposti osoite"
                            value="">
                    </div>
                    <div class="form-row">
                        <label for="lvl">Käyttäjä luokka</label>
                        <select id="lvl" class="form-control" name="lvl">
                            <option value=""></option>
                            <option value="1">Perus käyttäjä (asettaja)</option>
                            <option value="3">Moderaattori</option>
                            <option value="5">Admin</option>
                        </select>
                    </div>
                    <div class="form-row" hidden>
                        <label for="password">Salasana</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            placeholder=""
                            value="123456">
                     </div>        
                    <div class="form-row form-row-links">
                    <a href="/dash">Takaisin</a>
                    <button type="submit">Tallenna</button>
                    </div>
                </form>
            </div>

            <div class="split-right">
                <div class="container">
                    <div class="user-card">
                        <table class="user-table">
                            <tr>
                                <td class="name">Nimi</td>
                                <td class="email">Sähköposti</td>
                                <td class="luokka">Luokka</td>
                                <td class="muokkaa"></td>
                            </tr>
                            <% users.forEach(user => { %>
                            <tr>
                                <td class="name"><%= user.name %></td>
                                <td class="email"><%= user.email %></td>
                                    <% if(user.userlvl === '5') { %> 
    
                                        <td class="luokka">Admin</td>
                         
                                    <% } else if(user.userlvl === '3') { %> 
                                        
                                        <td class="luokka">Moderaattori</td>
    
                                    <% } else { %>
                                       
                                        <td class="luokka">Asettaja</td>
    
                                    <% } %>  
                                </td>
                                <td class="user-btn muokkaa">
                                    <a href="/admin/<%= user.id %>/edit"><button>Muokkaa</button></a>
                                </td>
                            </tr>
                            <% })%>
                        </table>
                         
                  </div>    
                
                </div>
            </div>
        </div>

    </div>

