<div class="container-header">
    <%- include ('../partials/header') %> 
    <div class="container">  
        <div class="container-split">
            <div class="split-left">
                <form action="/dash/<%= bladder.id %>/upd?_method=PUT" method="POST">
                    <h2>Lisää uusi paketti</h2>
                    <div class="messages">
                        <%- include ('../partials/messages') %>
                    </div>
                    <div class="form-row">
                        <label for="itemcode">Tuote koodi</label>
                        <input
                            type="text"
                            id="itemcode"
                            name="itemcode"
                            class="form-control"
                            placeholder=""
                            value="<%= bladder.itemcode %>">
                    </div>
                    <div class="form-row">
                        <label for="bladder">Tyyny malli *</label>
                        <input
                            type="text"
                            id="bladder"
                            name="bladder"
                            class="form-control"
                            placeholder="Tyyny malli"
                            value="<%= bladder.bladder %>">
                    </div>
                    <div class="form-row">
                        <label for="qtyupd">Paistettu</label>
                        <input
                            type="value"
                            id="qtyupd"
                            name="qtyupd"
                            class="form-control"
                            placeholder="Montako kierrosta Paistettu"
                            value="<%= bladder.qty %>"
                            default="">
                    </div>
                    <div class="form-row">
                        <label for="unique">1-Laipan Nro</label>
                        <input
                            type="text"
                            id="unique"
                            name="unique"
                            class="form-control"
                            placeholder="1-Laipan Nro"
                            value="<%= bladder.unique %>">
                    </div>
                    <div class="form-row">
                        <label for="versio">Laipan versio</label>
                        <input
                            type="number"
                            id="versio"
                            name="versio"
                            class="form-control"
                            placeholder="Lisää laipan versio Nro"
                            value="<%= bladder.versio %>">
                    </div>
                    <div class="form-row">
                        <label for="line">Linja *</label>
                        <select id="line" name="line" class="form-control" >
                            <option value="<%= bladder.line %>"><% if(bladder.line === '1') { %>
                                P11-P14
                                <% } else { %>
                                P15-P53
                                <% } %>
                                </option>
                            <option value="1">P11-P14</option>
                            <option value="2">P15-P53</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <label for="stored">Sijainti *</label>
                        <select id="stored" name="stored" class="form-control">
                            <option value="<%= bladder.stored %>"><%= bladder.stored %></option>
                            <% storedb.forEach(storedb => { %> 
                            <option value="<%= storedb.stored %>"><%= storedb.stored %></option>
                        <% }) %>
                        </select>
                        
                    </div>
                    <div class="form-row form-row-links">
                        <a href="/dash">Peruuta</a>
                        <button type="submit">Tallenna</button>
                    </div>
                </form>
                
            </div>
            <div class="split-right">
                <table>
                    
                    <tr>
                        <td class="unique table-header">
                            1-Laippa
                        </td>
                        <td class="versio table-header">
                            Versio
                        </td>
                        <td class="line table-header">
                            Linja
                        </td>
                        <td class="item table-header">
                            Tuote
                        </td>
                        <td class="store table-header">
                            Sijainti
                        </td>
                        <td class="qty table-header">
                            Paistomäärä
                        </td>
                        <td class="date table-header">
                            Kasattu
                        </td>
                        <td class="date table-header">
                            Päivitetty
                        </td>
                    </tr>

                    <tr class="form-row">
                        <td class="unique">
                            <%= bladder.unique %> 
                        </td>
                        <td class="versio">
                            <%= bladder.versio %> 
                        </td>
                        <td class="line"> 
                            <% if(bladder.line === '1') { %>
                                P11-P14  <% bladder.line %>
                            <% } else { %>
                                P15-P53
                            <% } %>
                        </td>
                        <td class="item">
                            <%= bladder.itemcode %> 
                        </td>
                        <td class="store">
                            <% if(bladder.stored ==='prod') { %>
                                Tuotannossa
                            <% } else { %>
                                <%= bladder.stored %> 
                            <% } %>
                            
                        </td>
                        <td class="qty">
                            <%= bladder.qty %> 
                        </td>
                        <td class="date">
                            <%= moment(bladder.createdate).format('DD.MM.YYYY'); %>
                        </td>
                        <td class="date">
                            <%= moment(bladder.updatedate).format('DD.MM.YYYY') %> 
                        </td>
                        <td>
                            <div class="form-row-links">
                            <a href="/dash/<%= bladder.id %>/delete/">Poista</a>
                            </div>
                        </td>
                    </tr>
       
                </table>
            </div>

        </div>
    </div>  
