<div class="container-header">
    <%- include ('../partials/header') %> 
</div>

<div class="container">

    <div class="container-split">

        <div class="split-left">
            <form action="/setup" method="POST">
                <h2>Lis채채 uusi sijainti</h2>
                
                <div class="messages">
                    <%- include ('../partials/messages') %>
                </div>
                <div class="form-row">
                <label>Lis채채 sijainti</label>
                <input
                    type="text"
                    id="stored"
                    name="stored"
                    class="form-control"
                    placeholder=""
                    value="">
                </div>
                <div class="form-row">
                    <label>Alueella</label>
                    <input
                        type="text"
                        id="zone"
                        name="zone"
                        class="form-control"
                        placeholder=""
                        value="">
                    </div>
                    <div class="form-row form-row-links">
                        <a href="/setup">Takaisin</a>
                        <button type="submit">Tallenna</button>
                    </div>
            </form>
        </div>   
        <div class="split-right">
            <table>
                <tr>
                    <td>Zone 1</td>
                </tr>
                <% storedb.forEach(store => { %>
                <tr>
                    
                    <td><% if(store.zone === '1') { %>
                        <%= store.stored %>
                        <% } %>
                    </td>

                    
                </tr>
                <% }) %>
                
            </table>
            <table>
                <tr>

                    <td>Zone 2</td>

                </tr>
                <% storedb.forEach(store => { %>
                <tr>
                    
                    <td><% if(store.zone === '2') { %>
                        <%= store.stored %>
                        <% } %>
                    </td>

                    
                </tr>
                <% }) %>
                
            </table>
            <table>
                <tr>
                    <td>Zone 3</td>
                </tr>
                <% storedb.forEach(store => { %>
                <tr>
                    <td><% if(store.zone === '3') { %>
                        <%= store.stored %>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
            </table>

        </div>
    </div>
</div>  

